@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

#content {
    max-height: 1600px;
    margin: 0 auto;
}
.home-title, h2 {
    font-family: Cinzel, serif;
    font-size: 2em;
    margin-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
} 
#logo_link {
    padding-top: 5px;
}
.menu {
    list-style: none; 
    text-align: left;
    float: left;
    display: flex;
}
.menu li {
    position: relative;
}
nav a {
    text-align: center;
    color: #5091C7;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #FED99B;
}
body {
    background-color: #E3E7F2;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 22px;
    Margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
header {
    background-color: #FED99B;
}
nav a:hover {
    background-color: #5091C7;
    color: #040669;
    margin: 1.5em;
}
.book, .join {
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;

}
.book:hover, .join:hover {
    background-color: #5091C7;
    color:rgb(255, 255, 255);
}
.msg {
    background-color:#5091C7;
    color: black;
    line-height: 1.5em;
    padding: 35px;
}
.icon {
    padding-top: 10px;
}
footer {
    background-color: #5091C7;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: black;
}
h4 {
    color:#1a2025;
}
.msg h2 {
    font-family: Cinzel, serif;
    color:#5091C7;
}
.msg p {
    color:#5091C7;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: black;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color:#FED99B;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}
.card-img {
    border: 10px solid #FED99B;
}